.heading{
	position: fixed;
	top: -2%;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
	-moz-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	text-shadow: 1px 1px 14px #fff, -1px -1px 5px #222;
	-webkit-transition: all linear 0.3s; 
	-moz-transition: all linear 0.3s; 
	transition: all linear 0.3s; 
}
.heading.large-heading{
	font-size:130px;
}
.heading.small-heading{
	font-size:90px;
}

.footer{
	position: fixed;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
	-moz-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	font-size:70%;
	color: #fff;
}

a{
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	text-decoration: none;
	color: #777;
}

body{
	background-image: url("/img/Texture-Black-Background-mask.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-animation: color-change 15s infinite;
	-moz-animation: color-change 15s infinite;
	animation: color-change 15s infinite;
}
@-webkit-keyframes color-change{
	0% { background-color: #fff; }
	20% { background-color: #ffa; }
	40% { background-color: #faf; }
	60% { background-color: #aff; }
	80% { background-color: #dfd; }
	100% { background-color: #fff; }
}
@-moz-keyframes color-change{
	0% { background-color: #fff; }
	20% { background-color: #ffa; }
	40% { background-color: #faf; }
	60% { background-color: #aff; }
	80% { background-color: #dfd; }
	100% { background-color: #fff; }
}
@keyframes color-change{
	0% { background-color: #fff; }
	20% { background-color: #ffa; }
	40% { background-color: #faf; }
	60% { background-color: #aff; }
	80% { background-color: #dfd; }
	100% { background-color: #fff; }
}

.response-box-yes,.response-box-no {
	position: fixed;
	top: 50%;
	width: 250px;
	height: 100px;
	color: #000;
	cursor: pointer;
	font-size: 80px;
	text-align: center;
	text-shadow: 0px 0px 20px #111;
	background-color: #999;
	margin: 5px 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 25px 3px #888, inset 0px 0px 10px 1px #111;
	-moz-box-shadow: 0px 0px 25px 3px #888, inset 0px 0px 10px 1px #111;
	box-shadow: 0px 0px 25px 3px #888, inset 0px 0px 10px 1px #111;
	-webkit-transition: all linear 0.25s;
	-moz-transition: all linear 0.25s;
	transition: all linear 0.25s;
}
.response-box-yes:hover,.response-box-no:hover {
	width: 260px;
	height: 105px;
	font-size: 85px;
	-webkit-box-shadow: 0px 0px 30px 4px #aaa, inset 0px 0px 5px 1px #111;
	-moz-box-shadow: 0px 0px 30px 4px #aaa, inset 0px 0px 5px 1px #111;
	box-shadow: 0px 0px 30px 4px #aaa, inset 0px 0px 5px 1px #111;
}

.response-box-yes{
	left: 35%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.response-box-no{
	right: 35%;
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
}

.main-body{
	position: fixed;
	top: 15%;
	height: 80%;
	width:100%
}

.arrow-back,.arrow-forward{
	position: fixed;
	top: 20px;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 0px 0px 45px #999,0px 0px 55px #999;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	transition: all linear 0.3s;
}
.arrow-back{
	left: 5px;
}
.arrow-forward{
	right: 5px;
}
.arrow-back:hover,.arrow-forward:hover{
	font-size: 90px;
	-webkit-transform: translate(0%,-8%);
	-moz-transform: translate(0%,-8%);
	transform: translate(0%,-8%);
	text-shadow: 0px 0px 45px #ccc,0px 0px 55px #ccc;
}

.overall-world,.overall-country,.overall-user{	
	position: absolute;
	top: 10%;
	-webkit-box-shadow: 0px 0px 15px 2px #888;
	-moz-box-shadow: 0px 0px 15px 2px #888;
	box-shadow: 0px 0px 15px 2px #888;
}
.overall-world{
	left: 2%;
	-webkit-transform: translate(0%,-50%);
	-moz-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}
.overall-country{
	left: 34%;
	-webkit-transform: translate(0%,-50%);
	-moz-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}
.overall-user{
	left: 66%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.detailed-month,.detailed-week,.detailed-hour{
	position: absolute;
	height: 240px;
	background-color: #232;
	-webkit-box-shadow: 0px 0px 20px 3px #666;
	-moz-box-shadow: 0px 0px 20px 3px #666;
	box-shadow: 0px 0px 20px 3px #666;
	border: 5px solid #222;
}
.detailed-month{
	top: 1%;
	left:14%;
	width: 500px;
}
.detailed-week{
	top: 1%;
	right:14%;
	width: 450px;
}
.detailed-hour{
	bottom: 2%;
	left: 50%;
	width: 1000px;
	-webkit-transform: translate(-50%,0%);
	-moz-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
}
.chart-title{
	position: absolute;
	top: 0%;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
	-moz-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	color: #000;
	font-size: 15px;
}
.chart-legend{
	position: absolute;
	top: 50%;
	right: 3%;
	height: 45px;
	width: 60px;
	-webkit-transform: translate(0%,-55%);
	-moz-transform: translate(0%,-55%);
	transform: translate(0%,-55%);
	color: #000;
	font-size: 14px;
	-webkit-padding: 5px;
	-moz-padding: 5px;
	padding: 5px;
	background-color: #232;
	-webkit-box-shadow: 0px 0px 20px 3px #666;
	-moz-box-shadow: 0px 0px 20px 3px #666;
	box-shadow: 0px 0px 20px 3px #666;
	border: 5px solid #222;
}
.chart-legent-yes,.chart-legent-no{
	position: absolute;
	right: 15%;
	height: 12px;
	width: 12px;
}
.chart-legent-yes{
	top: 15%;
	background-color: #ebb;
}
.chart-legent-no{
	bottom: 15%;
	background-color: #aae;
}

.detailed-dataof{
	position: absolute;
	top: 50%;
	left: 2%;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	-webkit-transform: translate(0%,-50%);
	-moz-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}

.main-body.ng-enter,.main-body.ng-leave{
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	transition: all 2s ease;
}
.main-body.ng-enter{
	left: 100%;
}
.main-body.ng-enter-active{
	left: 0%;
}
.main-body.ng-leave{
	left: 0%;
}
.main-body.ng-leave-active{
	left: -100%;
}

.world-ring,.user-ring,.country-ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border: 100px solid #999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 2em  #999,inset 0px 0px 2em 0.5em #333;
  -moz-box-shadow: 0px 0px 2em  #999,inset 0px 0px 2em 0.5em #333;
  box-shadow: 0px 0px 2em  #999,inset 0px 0px 2em 0.5em #333;
  -webkit-transition: box-shadow linear 0.3s;
  -moz-transition: box-shadow linear 0.3s;
  transition: box-shadow linear 0.3s;
}
.world-ring:hover,.user-ring:hover,.country-ring:hover{
  -webkit-box-shadow: 0px 0px 2em 1em #999,inset 0px 0px 2em 1em #333;
  -moz-box-shadow: 0px 0px 2em 1em #999,inset 0px 0px 2em 1em #333;
  box-shadow: 0px 0px 2em 1em #999,inset 0px 0px 2em 1em #333;
}
.world-ring{
	background-image: url("/img/world.jpg");
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	background-position: center;
}
.user-ring{
	background-image: url("/img/user.jpg");
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	background-position: center;
}
.country-ring{
	-webkit-background-size: 200%;
	-moz-background-size: 200%;
	background-size: 200%;
	background-position: center;
}
.yes-label,.no-label{
  position: absolute;
  top:50%;
  width: 30px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  -webkit-transform: translate(0%,-40%);
  -moz-transform: translate(0%,-40%);
  transform: translate(0%,-40%);
  z-index: 100;
}
.yes-label{
	color: #222;
	left: -35%;
}
.no-label{
	color: #999;
	right: -35%;
}
.num-label{
  font-size: 75%;
}
.dough-mask-1,.dough-mask-2{
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 100%;
  overflow: hidden;
}
.dough-mask-2{
  -webkit-transform: translate(0%,100%) scaleY(-1);
  -moz-transform: translate(0%,100%) scaleY(-1);
  transform: translate(0%,100%) scaleY(-1);
}
.part-dough{
  width: 50%;
  height: 100%;
  border: 100px solid #222;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-clip-path: inset(0px 0px 200px 0px);
  -moz-clip-path: inset(0px 0px 200px 0px);
  clip-path: inset(0px 0px 200px 0px);
}
