.heading{
	position: fixed;
	top: -2%;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 1px 1px 14px #fff, -1px -1px 5px #222;
	-webkit-transition: all linear 1s; 
	transition: all linear 0.3s; 
}
.heading.large-heading{
	font-size:130px;
}
.heading.small-heading{
	font-size:90px;
}

.footer{
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size:70%;
	color: #fff;
}

a{
	text-decoration: none;
	color: #777;
}

body{
	background-image: url("http://localhost:8081/img/Texture-Black-Background-mask.png");
	background-size: cover;
	-webkit-animation: color-change 15s infinite; 
	animation: color-change 15s infinite;
}
@-webkit-keyframes color-change{
	0% { background-color: #fff; }
	20% { background-color: #ffa; }
	40% { background-color: #faf; }
	60% { background-color: #aff; }
	80% { background-color: #dfd; }
	100% { background-color: #fff; }
}
@keyframes color-change{
	0% { background-color: #fff; }
	20% { background-color: #ffa; }
	40% { background-color: #faf; }
	60% { background-color: #aff; }
	80% { background-color: #dfd; }
	100% { background-color: #fff; }
}

.response-box-yes,.response-box-no {
	position: fixed;
	top: 50%;
	width: 250px;
	height: 100px;
	font-size: 80px;
	text-align: center;
	text-shadow: 0px 0px 20px #111;
	transform: translateY(-50%);
	background-color: #999;
	margin: 5px 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 25px 3px #888, inset 0px 0px 10px 1px #111;
}
.response-box-yes{
	left: 25%;
}
.response-box-no{
	right: 25%;
}

.main-body{
	position: fixed;
	top: 15%;
	height: 80%;
	width:100%
}

.arrow-back,.arrow-forward{
	position: fixed;
	top: 20px;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 0px 0px 45px #999,0px 0px 55px #999;
}
.arrow-back{
	left: 5px;
}
.arrow-forward{
	right: 5px;
}

.overall-world,.overall-country,.overall-user{	
	position: absolute;
	top: 50%;
	box-shadow: 0px 0px 15px 2px #888;
}
.overall-world{
	left: 2%;
	transform: translateY(-50%);
}
.overall-country{
	right: 2%;
	transform: translateY(-50%);
}
.overall-user{
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.detailed-month,.detailed-week,.detailed-hour{
	position: absolute;
	box-shadow: 0px 0px 20px 3px #666;
}
.detailed-month{
	top: 2%;
	left:15%;
}
.detailed-week{
	top: 2%;
	right:15%;
}
.detailed-hour{
	bottom: -2%;
	left: 50%;
	transform: translateX(-50%);
}

.main-body.ng-enter,.main-body.ng-leave{
	transition: all 2s ease;
}
.main-body.ng-enter{
	left: 100%;
}
.main-body.ng-enter-active{
	left: 0%;
}
.main-body.ng-leave{
	left: 0%;
}
.main-body.ng-leave-active{
	left: -100%;
}

