<div>
<div class="arrow-back"><a href='#overall'>←</a></div>
    <span fusioncharts class="detailed-month"
       width="450"
       height="250"
       type="msarea" 
       dataSource="{{monthlyDataSource}}" >
    </span>
    <span fusioncharts class="detailed-week"
       width="450"
       height="250"
       type="msarea"
       dataSource="{{weeklyDataSource}}" >
    </span>
    <span fusioncharts class="detailed-hour"
       width="1050"
       height="250"
       type="msarea"
       dataSource="{{hourlyDataSource}}" >
    </span>

</div>
