<div>
<div class="arrow-back" ng-hide="!backAllowed"><a href='#/'>←</a></div>
	<a href="#detailed/:world">
    <span fusioncharts class="overall-world"
		width="350"
		height="350"
       type="doughnut2d" 
       dataSource="{{overallData.worldDataSource}}">
    </span>
	</a>
	<a href="#detailed/:user">
    <span fusioncharts class="overall-user"
		width="600"
		height="420"
       type="doughnut2d"
       dataSource="{{overallData.userDataSource}}" >
    </span>
	</a>
	<a href="#detailed/:country">
    <span fusioncharts class="overall-country"
		width="350"
		height="350"
       type="doughnut2d"
       dataSource="{{overallData.countryDataSource}}" >
    </span></a>
	
</div>