<div>

<div ng-controller="GraphingCtrllr" ng-click="populateData()">
    <div fusioncharts
       width="200"
       height="200"
       type="doughnut2d"
       dataSource="{{worldDataSource}}">
    </div>
    <div fusioncharts
       width="200"
       height="200"
       type="doughnut2d"
       dataSource="{{countryDataSource}}" >
    </div>
    <div fusioncharts
       width="200"
       height="200"
       type="doughnut2d"
       dataSource="{{userDataSource}}" >
    </div>
</div


</div>
