<div>
<div class="arrow-back" ng-hide="!backAllowed"><a href='#/'>←</a></div>
	<a href="#detailed/:world">
    <div class="overall-world">
		<div class='world-ring'>
			<div class="yes-label">YES<div class="num-label">{{overallData.worldData.yes}}</div></div>
			<div class="no-label">NO<div class="num-label">{{overallData.worldData.no}}</div></div>
			<div class='dough-mask-1'>
				<div class='part-dough-mask' ng-style="{'transform': overallData.worldData.rotation}"><div class='part-dough'></div></div>
			</div>
			<div class='dough-mask-2'>
				<div class='part-dough-mask' ng-style="{'transform': overallData.worldData.rotation}"><div class='part-dough'></div></div>
			</div>
		</div>
    </div>
	</a>
	<a href="#detailed/:country">
    <div class="overall-user">
		<div class='country-ring' ng-style="{'background-image': 'url(' + overallData.countryData.country + ')'}">
			<div class="yes-label">YES<div class="num-label">{{overallData.countryData.yes}}</div></div>
			<div class="no-label">NO<div class="num-label">{{overallData.countryData.no}}</div></div>
			<div class='dough-mask-1'>
				<div class='part-dough-mask' ng-style="{'transform': overallData.countryData.rotation}"><div class='part-dough'></div></div>
			</div>
			<div class='dough-mask-2'>
				<div class='part-dough-mask' ng-style="{'transform': overallData.countryData.rotation}"><div class='part-dough'></div></div>
			</div>
		</div>
    </div>
	</a>
	<a href="#detailed/:user">
    <div class="overall-country">
		<div class='user-ring'>
			<div class="yes-label">YES<div class="num-label">{{overallData.userData.yes}}</div></div>
			<div class="no-label">NO<div class="num-label">{{overallData.userData.no}}</div></div>
			<div class='dough-mask-1'>
				<div class='part-dough-mask' ng-style="{'transform': overallData.userData.rotation}"><div class='part-dough'></div></div>
			</div>
			<div class='dough-mask-2'>
				<div class='part-dough-mask' ng-style="{'transform': overallData.userData.rotation}"><div class='part-dough'></div></div>
			</div>
		</div>
    </div></a>
	
</div>